/* ::::::::::::::::::::::: VISION ::::::::::::::::::::::: */
main h2 {
    font-family: "mendl-sans-dusk";
    font-weight: 600;
    margin-top: 120px;
    position: relative;
}

main > p,
#STRONGTH > p,
#SKILL > p,
#PASSTIME > p:nth-child(2) {
    text-align: center;
}

#VISION {
    margin-top: 100px;
}

#VISION > p,
#STRONGTH .STRONGTH_text p:nth-child(1),
#PASSTIME > p:nth-child(3) {
    font-family: "ta-koigokoro";
    font-size: clamp(1.125rem, 0.784rem + 1.7vw, 1.875rem);
    text-align: center;
}

#VISION .VISION_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 30px;
}

#VISION .VISION_wrapper .VISION_text {
    flex-basis: 70%;
    line-height: 1.2rem;
}

#VISION .VISION_wrapper .VISION_text p:nth-child(2) {
    margin: 20px 0 20px;
}

#VISION .VISION_wrapper .VISION_img {
    flex-basis: 15%;
}

/* ::::::::::::::::::::::: STRONGTH ::::::::::::::::::::::: */
#STRONGTH,
#SKILL,
#PASSTIME {
    margin-top: 200px;
}

#STRONGTH h3,
#SKILL h3,
#PASSTIME h3 {
    font-family: "mendl-sans-dusk";
    font-weight: 600;
    text-align: center;
}

.STRONGTH_wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.STRONGTH_wrapper .STRONGTH_img {
    flex-basis: 25%;
}

.STRONGTH_wrapper .STRONGTH_text {
    flex-basis: 60%;
}

.STRONGTH_wrapper .STRONGTH_text p:nth-child(2) {
    margin-top: 30px;
}

/* ::::::::::::::::::::::: SKILL ::::::::::::::::::::::: */
#SKILL > p:not(:first-child) {
    line-height: 1.2rem;
}

#SKILL > p:nth-child(4) {
    margin: 40px 0 20px;
}

#SKILL .SKILL_wrapper {
    margin-top: 40px;
    padding-left: 2rem;
}

#SKILL .SKILL_wrapper .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

#SKILL .SKILL_wrapper .SKILL_inner {
    flex-basis: 45%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#SKILL .SKILL_wrapper .flex:not(:first-child) {
    margin-top: 60px;
}

#SKILL .SKILL_wrapper .SKILL_inner .SKILL_icon {
    width: 50px;
    flex-shrink: 0;
}

#SKILL .SKILL_wrapper .SKILL_inner p span {
    font-family: "mendl-sans-dusk";
    font-size: clamp(1rem, 0.773rem + 1.14vw, 1.2rem);
    font-weight: 600;
}

/* ::::::::::::::::::::::: PASSTIME ::::::::::::::::::::::: */
#PASSTIME {
    padding-inline: 3rem;
}

#PASSTIME > p:nth-child(3) {
    text-align: left;
    margin-top: 40px;
}

#PASSTIME .PASSTIME_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_text {
    margin-top: 40px;
    flex-basis: 65%;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_img {
    flex-basis: 30%;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_text p + p {
    margin-top: 20px;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account {
    margin-top: 20px;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account .icon:not(:last-child) {
    margin-bottom: 0.5rem;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account .icon {
    flex-basis: 25px;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account p {
    font-size: clamp(0.6rem, 0.679rem + 0.36vw, 0.7rem);
    letter-spacing: normal;
}

/* クリックしてないリンク */
#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account p > a:link {
    color: #1a0dab;
    border-bottom: 1px solid #1a0dab;
}
/* クリック済みリンク */
#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account p > a:visited {
    color: #660099;
    border-bottom: 1px solid #660099;
}

#PASSTIME .PASSTIME_wrapper .PASSTIME_account .account:nth-child(2) .icon {
    flex-basis: 23px;
}
